#game {
	margin: 0 auto;
	text-align: center;
}
#board {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
	margin: 20px auto;
	background-color: #eee;
}
.square {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 1px solid #999;
	font-size: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.square:hover {
	background-color: #ddd;
}
#message {
	font-size: 2em;
	margin-top: 20px;
}